
## export functions
export(
runModel,
plotResults,
plotPriors,
readData,
createPriors,
createRAVfile,
Report1,
DM,
writeResultsToFile,
SelectPrior,
createRAVfile,
findOptimum,
getPostDraws,
centerProdCap,
uncenterProdCap
)

## Imports
