
## export functions
export(
runModel,
plotResults,
plotPriors,
readData,
createPriors,
createRAVfile,
writeReport,
writeResultsToFile,
DM,
createRAVfile,
findOptimum,
getPostDraws,
centerProdCap,
uncenterProdCap
)

## Imports
importFrom(Gmedian, Gmedian)
